# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0befd4055993bbc6b4fdda6191cfce55138ca859bec38a18d4471138b4af8b0e50e03d1812afda053b9f33edb416b04775384414a0930b58f7528d31403ca760

test:
  secret_key_base: baf5341e6c76e7dcd47970a7ab561045b658ed1580ded10f0efda6ac081c07ee49f975a321e3d4777db1464ac1eac7084ac07af538101d7698110feae76caa90

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
