@import 'bootstrap-sprockets';
@import 'bootstrap';

$title-color: #555;
$background-color-wall: #f7f7f7;
$btn-lg-background: #3276b1;
$btn-lg-color: #ecf0f1;
$color-hover: #5ba56d;
$background-image: #b7e5c2;
$color-brand: #424242;
$lightblue: #add8e6;

body {
  background-color: $lightblue;
  background-repeat: no-repeat;
  height: 100%;
}

.banner {
  height: 140px;
}

.navbar-nav {
  margin-right: 20px;
  margin-top: 40px;
}

.navbar-primary {
  margin-bottom: 0;
}

.input-group {
  padding-right: 200px;
}

.search {
  background-color: $lightblue;
  border-color: transparent;
}

.page-scroll {
  color: $color-brand;
  font-family: museo-w01-700, serif;
  font-size: 18px;
}

.login-title
 {
  color: $title-color;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.account-wall {
  background-color: $background-color-wall;
  margin-top: 20px;
  padding: 40px 0 20px;
}

.form-login {
  margin: 0;
}

.edit-field{
  margin: 0;
}

.account-wall
 {
  background-color: $background-color-wall;
  margin-top: 20px;
  padding: 40px 0 20px;
 }

.profile-img
 {
  border-radius: 50%;
  display: block;
  height: 96px;
  margin: 0 auto 10px;
  width: 96px;
}

.form-signin
 {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
 }

.form-signin .form-control
 {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.btn-lg {
  background-color: $color-hover;
  border-radius: 4px;
  color: $btn-lg-color;
  font-size: 18px;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.btn-lg:hover {
  background-color: $btn-lg-background;
}

.create-acount {
  margin-left: 140px;
}

.forgot-password {
  margin-left: 200px;
}

.remember-me {
  margin-top: 10px;
}
